@import "src/utils/colors";

.card{
  padding: 10px 10px 10px 10px;
  border-width: 0.5px 0;
  border-color: $light-gray;
  border-style: solid;
  cursor: default;

  .checkBox{
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }

  .completed{
    color: $light-gray;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
  }
}